@model IEnumerable<ProductModel>
<a class="btn btn-default btn-group-lg" asp-action="Create" asp-controller="Product">Thêm sản phẩm mới</a>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col" class="d-none d-md-table-cell">Giá</th> <!-- Ẩn trên màn hình nhỏ -->
                <th scope="col" class="d-none d-md-table-cell">Loại</th> <!-- Ẩn trên màn hình nhỏ -->
                <th scope="col" class="d-none d-lg-table-cell">Thương hiệu</th> <!-- Ẩn trên màn hình nhỏ và tablet -->
                <th scope="col" class="d-none d-lg-table-cell">Hình ảnh</th> <!-- Ẩn trên màn hình nhỏ và tablet -->
                <th scope="col" class="d-none d-lg-table-cell">Mô tả</th> <!-- Ẩn trên màn hình nhỏ và tablet -->
                <th scope="col">Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td class="d-none d-md-table-cell formatPrice">@item.Price</td> <!-- Ẩn trên màn hình nhỏ -->
                    <td class="d-none d-md-table-cell">@item.Category.Name</td> <!-- Ẩn trên màn hình nhỏ -->
                    <td class="d-none d-lg-table-cell">@item.Brand.Name</td> <!-- Ẩn trên màn hình nhỏ và tablet -->
                    <td class="d-none d-lg-table-cell">
                        <img style="width:100px; max-height:80px;" src="~/media/products/@item.Images" />
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.Raw(item.Description.TruncateHtml(100))
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Update" asp-controller="Product" asp-route-id="@item.Id">Sửa</a>
                        <a class="btn btn-danger" asp-action="Remove" asp-controller="Product" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>